{% extends 'myapp/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">
    <h3 class="my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis reiciendis hic voluptatibus dolorem voluptates sequi ab quis fugit dignissimos culpa id, tempora ratione cupiditate et odit eos quibusdam beatae facere!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam praesentium pariatur itaque ullam? Aperiam sunt beatae ea consectetur ab molestias, facere sit amet praesentium totam deleniti incidunt blanditiis. Labore nostrum iste quaerat deleniti dolores est veniam rem. In voluptates, nobis, dolores rerum deserunt obcaecati, veritatis non enim harum temporibus eius?</p>
</div>
{% endblock content %}